instances/GermanStateGeologicalSurveys_BoreholeML/BHML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2018 sp1 (x64) (http://www.altova.com) von Rainer Haener (Helmholtz-Zentrum Potsdam) bearbeitet -->
<xs:schema xmlns:bml="http://www.gfz-potsdam.de/boreholeml/4.1" xmlns:BhML="https://forge.brgm.fr/svnrepository/boreholeie/schemas"  xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://www.gfz-potsdam.de/boreholeml/4.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.1.0" vc:minVersion="1.1">
	<!-- ########################################################   imports   #################################################################################### -->
<xs:import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="../bml3.0.1/GeographicalNames.xsd"/>
	<xs:import namespace="https://forge.brgm.fr/svnrepository/boreholeie/schemas" schemaLocation="./BhML-Core.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../iso/19139/20070417/gmd/gmd.xsd"/>
	<!-- ########################################################   includes   #################################################################################### -->
	<xs:include schemaLocation="Observations.xsd"/>
	<xs:include schemaLocation="CompositeIntervals.xsd"/>
	<xs:include schemaLocation="IntervalSeries.xsd"/>
	<xs:include schemaLocation="Groundwater.xsd"/>
	<xs:include schemaLocation="InstallationDetails.xsd"/>
	<xs:include schemaLocation="BoreholeFilling.xsd"/>
	<xs:include schemaLocation="BoreholeSegment.xsd"/>
	<xs:include schemaLocation="DrillingProcess.xsd"/>
	<xs:include schemaLocation="Sampling.xsd"/>
	<xs:include schemaLocation="Investigation.xsd"/>
	<!--	
	<xs:include schemaLocation="Origin.xsd"/>
	<xs:include schemaLocation="BoreholeProvider.xsd"/>
-->
	<!--XML Schema document created by ShapeChange-->
	<xs:element name="Borehole" type="bml:BoreholeType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>[de] Enthält die Angaben zur Bohrungslokation und die Stammdaten pro Bohrung. [en] Contains location data and header information of the borehole.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BoreholeType">
		<xs:complexContent>
			<xs:extension base="BhML:BoreholeEventCollectionType">
				<xs:sequence>
					<xs:element name="location" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>[de] Position des Bohrloch-Ansatzpunktes. Der Datentyp enthält eine dreidimensionale Koordinate basierend auf der Umrechnung von &lt;i&gt;Origin.originalLocation&lt;/i&gt; und &lt;i&gt;Origin.elevation&lt;/i&gt;. Das Attribut gml:id setzt sich zusammen aus dem Kürzel in &lt;i&gt;databaseSource &lt;/i&gt;und der jeweiligen Bohrungs-ID in &lt;i&gt;id&lt;/i&gt;. Syntax: database_id
																			[en] Position of the borehole-location. The data type contains a three-dimensional coordinate based on the transformation of&lt;i&gt; Origin.originalLocation&lt;/i&gt; and &lt;i&gt;Origin.elevation&lt;/i&gt;. The attribute gml:id is a compound key of the code in &lt;i&gt;databaseSource &lt;/i&gt;and the given borehole-ID in &lt;i&gt;id&lt;/i&gt;. Syntax: database_id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--
					<xs:element name="location" type="bml:OriginPropertyTypeNew">
						<xs:annotation>
							<xs:documentation>[de] Position des Bohrloch-Ansatzpunktes. Der Datentyp enthält eine dreidimensionale Koordinate basierend auf der Umrechnung von &lt;i&gt;Origin.originalLocation&lt;/i&gt; und &lt;i&gt;Origin.elevation&lt;/i&gt;. Das Attribut gml:id setzt sich zusammen aus dem Kürzel in &lt;i&gt;databaseSource &lt;/i&gt;und der jeweiligen Bohrungs-ID in &lt;i&gt;id&lt;/i&gt;. Syntax: database_id
																			[en] Position of the borehole-location. The data type contains a three-dimensional coordinate based on the transformation of&lt;i&gt; Origin.originalLocation&lt;/i&gt; and &lt;i&gt;Origin.elevation&lt;/i&gt;. The attribute gml:id is a compound key of the code in &lt;i&gt;databaseSource &lt;/i&gt;and the given borehole-ID in &lt;i&gt;id&lt;/i&gt;. Syntax: database_id</xs:documentation>
						</xs:annotation>
					</xs:element>
-->
					<xs:element name="boreholePath" type="gml:CurvePropertyType">
						<xs:annotation>
							<xs:documentation>[de] GML-Geometrie des Bohrlochverlaufs in Koordinatentripeln bezogen auf das definierte Koordinaten- und Höhensystem. Generiert aus den Rohdaten des Bohrlochverlaufs in &lt;i&gt;BoreholeSegment&lt;/i&gt;.
																			[en] GML-geometry of the borehole path in coordinate triples related to the given coordinate- and elevation reference system. Generated from the raw data of the borehole path in &lt;i&gt;BoreholeSegment&lt;/i&gt;.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- obsolet 
					<xs:element name="id" type="string"/>
					-->
					<!-- moved to metadata and gml:name with according codeSpace
					<xs:element name="language" type="gmd:LanguageCode_PropertyType">
					<xs:element name="shortName" type="gmd:LocalisedCharacterString_PropertyType" minOccurs="0"/>
					<xs:element name="fullName" type="gmd:LocalisedCharacterString_PropertyType"/>
					<xs:element name="databaseSource" type="gml:CodeType"/>
					-->
					<!-- ?? -->
					<xs:element name="totalLength" type="gml:LengthType">
						<xs:annotation>
							<xs:documentation>[de] Die Aufschlusslänge der Bohrung in Meter. Abstand des Endpunktes der Bohrung vom Ansatzpunkt, entlang des Bohrpfades gemessen. [en] Length along the borehole path in meter measured from the drill start point to the end point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- moved to metadata identification info
					<xs:element name="exportDate" type="date"/>
					-->
					<!-- ?? -->
					<xs:element name="boreholeStatus" type="gml:CodeType">
						<xs:annotation>
							<xs:documentation>[de] Aktueller Status der Bohrung. [en] Current status of the borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- obsolet
					<xs:element name="groundwaterEncountered" nillable="true"/>
					-->
					<!-- moved to observations
					<xs:element name="boreholeSegment" type="bml:BoreholeSegmentPropertyType" maxOccurs="unbounded"/>
					-->
					<!-- moved to gmd:Identication Info
					<xs:element name="codingStandard" type="gml:CodeType"/>
					<xs:element name="organisation" type="bml:BoreholeProviderPropertyTypeNew"/>
					-->
					<!-- moved to observations
					<xs:element name="groundwater" nillable="true" minOccurs="0"/>
					<xs:element name="groundwaterObservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					-->
					<!-- moved to metadata
					<xs:element name="boreholeWebLink" nillable="true" minOccurs="0"/>
					-->
					<!-- moved to gml:name with codeSpace location, region 
					<xs:element name="locationName" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Bezeichnung der Bohrungslokation wie Ortschaften oder Gemarkungen. [en] Name of the borehole location, e.g. quarter or district.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="gn:GeographicalName"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					-->
					<xs:element name="drillingMethod" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Während der Bohrung verwendetes Bohrverfahren. Bei mehreren Bohrverfahren in einer Bohrung wird ein entsprechendes Kombibohrverfahren aus der Begriffsliste verwendet. [en] Type of drilling method. In case of more than one drilling methods applied, a combined drilling method is used from the codelist.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="gml:CodeType">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="drillingDate" type="gml:CalDate" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Datum der Beendigung der Bohrungsarbeiten (tages-, monats- oder jahresgenau). [en] Date of finishing the drilling process (minimum declaration of the drilling year).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastHorizon" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Stratigraphie der letzten bei der Bohrung erschlossenen Schicht. [en] Stratigraphy of the last horizon (final layer).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="gml:CodeType">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="drillingPurpose" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Zweck bzw. Fachgebiet, für welches die Bohrung abgeteuft worden ist. [en] Purpose for sinking the borehole.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="gml:CodeType">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element ref="bml:observation" maxOccurs="1"/>
					<xs:element ref="bml:installationDetails" maxOccurs="1"/>
					<!-- moved to metadata
					<xs:element name="owner" nillable="true"/>
					<xs:element name="project" nillable="true"/>
					-->
					<!-- new availability property -->
					<!-- moved to metadata resourceConstraints
					<xs:element ref="bml:availability" minOccurs="0"/>
					-->
					<!-- new availability property -->
					<!-- moved to location 
					<xs:element name="origin" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Angaben zu den (Original)-Koordinaten des Bohransatzpunktes in der Quelldatenbank. [en] Original coordinates of the borehole location from source data (drill start point).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:Origin"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					-->
					<!--
					<xs:element name="intervalSeries" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>[de] Abzugebendes Schichtenverzeichnis. Das Schichtenverzeichnis besteht aus der Abfolge einzeln abgrenzbarer Schichten, deren Merkmale jeweils in der Klasse &lt;i&gt;Lithology&lt;/i&gt; beschrieben werden. Ein Schichtenverzeichnis verfügt über mindestens eine Schicht. Es können mehrere Schichtenverzeichnis-Versionen pro Bohrung gespeichert werden.
																				[en] Disposable interval series for the borehole. The interval series consists of an amount of single layers with specific intervals, whose attributes are stored in the class &lt;i&gt;Lithology.&lt;/i&gt; An interval series must have at least one interval defining one layer. It is possible to store several versions of interval series for the same borehole.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:IntervalSeries"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="drillingProcess" nillable="true" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>[de] Teufenbezogene Beschreibung des technischen Bohrprozesses. [en] Depth-related description of the technical drilling process.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:DrillingProcess"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="boreholeFilling" nillable="true" minOccurs="0">
						<xs:annotation>
							<xs:documentation>[de] Verfüllung des Bohrlochs im angegebenen Bohrintervall. [en] Borehole filling at specified intervals.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:BoreholeFilling"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="installationDetail" nillable="true">
						<xs:annotation>
							<xs:documentation>[de] Aktuelle Ausbaudaten. [en] Most recent installation.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:installationDetails"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="investigation" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>[de] Untersuchungsmethoden im Bohrloch (Logging-Verfahren) optional mit Teufenbezug. [en] Investigations in the borehole (logging methods) with optional depth information.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:Investigation"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="sampling" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>[de] Beprobungsintervalle im Bohrloch oder im Bohrgut. [en] Sampling intervals in the borehole or rock material.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="bml:Sampling"/>
							</xs:sequence>
							<xs:attribute name="nilReason" type="gml:NilReasonType"/>
						</xs:complexType>
					</xs:element>
-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoreholePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bml:Borehole"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<!-- ########################################################################################################################################################################################### -->
	<!-- ########################################################################################################################################################################################### -->
</xs:schema>
