instances/GermanStateGeologicalSurveys_BoreholeML/BhML-Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) von Rainer Haener (Helmholtz-Zentrum Potsdam) bearbeitet -->
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by BRGM (BRGM) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BhML="https://forge.brgm.fr/svnrepository/boreholeie/schemas" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="https://forge.brgm.fr/svnrepository/boreholeie/schemas" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="AtLocation" type="BhML:AtLocationType" substitutionGroup="BhML:BoreholeEventLocation">
		<annotation>
			<documentation>adaptation of ISO 19148 LE_AtLocation</documentation>
		</annotation>
	</element>
	<complexType name="AtLocationType">
		<complexContent>
			<extension base="BhML:BoreholeEventLocationType">
				<sequence>
					<element name="atLocation" type="BhML:MeasureOrEventPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AtLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:AtLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Borehole" type="BhML:BoreholeType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Well, Borehole are seen as synonymous terms.
Potential definition
A: A Borehole is a hole that is drilled from an origin (top/start) to a terminating point (bottom/end) (PPDM slightly adapted)
B: A Borehole is the generalized term for any narrow shaft drilled in the ground (INSPIRE def slightly adapted).</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="collection" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEventCollection"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholePropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:Borehole"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEvent" type="BhML:BoreholeEventType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>adaptation of ISO 19148 LE_Event
see ISO 19148 Figure 44</documentation>
		</annotation>
	</element>
	<complexType name="AbstractLocatedMemberType" abstract="true"/>
	<element name="locatedMember" type="BhML:AbstractLocatedMemberType" abstract="false"/>
	<complexType name="BoreholeEventType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<!-- rhaener 2019-07-31: in order to be substituted and derived from -->
					<element ref="BhML:locatedMember"/>
					<!--				
					<element ref="BhML:locatedMember"/>
					<element name="locatedMember">
						<annotation>
							<documentation>Element located along the Borehole path
Could be a Feature in the ISO191xx sense (OM_Observation, SF_Specimen, gwml2:constructionElement, ...) but not only.</documentation>
						</annotation>
					</element>
-->
					<element name="location">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEventLocation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEventCollection" type="BhML:BoreholeEventCollectionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>adaptation of ISO 19148 LE_Feature
Collection of BoreholeEvent by "sub-domains" (ex : Borehole Log, Borehole Construction, ...)</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeEventCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="collectionMember" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEvent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="collectionReferent" type="BhML:TrajectoryReferentPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventCollectionPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEventCollection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEventLocation" type="BhML:BoreholeEventLocationType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>adaptation of ISO 19148 LE_EventLocation</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeEventLocationType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEventLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeReferencingMethod" type="BhML:BoreholeReferencingMethodType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>adaptation of ISO 19148 LR_LinearReferencingMethod</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeReferencingMethodType">
		<sequence>
			<element name="name" type="string"/>
			<element name="unit" type="BhML:UnitfOfMeasureTermType">
				<annotation>
					<documentation>difference with ISO 19148 which calls it 'units'</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BoreholeReferencingMethodPropertyType">
		<sequence>
			<element ref="BhML:BoreholeReferencingMethod"/>
		</sequence>
	</complexType>
	<element name="BoreholeTrajectory" type="BhML:BoreholeTrajectoryType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>adaptation of ISO 19148 LR_LinearElement</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeTrajectoryType">
		<choice>
			<element name="feature" type="gml:FeaturePropertyType"/>
			<element name="curve" type="gml:CurvePropertyType"/>
		</choice>
	</complexType>
	<complexType name="BoreholeTrajectoryPropertyType">
		<sequence>
			<element ref="BhML:BoreholeTrajectory"/>
		</sequence>
	</complexType>
	<element name="FromToLocation" type="BhML:FromToLocationType" substitutionGroup="BhML:BoreholeEventLocation">
		<annotation>
			<documentation>adaptation of ISO 19148 LE_FromToLocation</documentation>
		</annotation>
	</element>
	<complexType name="FromToLocationType">
		<complexContent>
			<extension base="BhML:BoreholeEventLocationType">
				<sequence>
					<element name="fromPosition" type="BhML:MeasureOrEventPropertyType"/>
					<element name="toPosition" type="BhML:MeasureOrEventPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FromToLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:FromToLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MeasureOrEvent" type="BhML:MeasureOrEventType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Adaptation of ISO 19148 LE_AtLocation and LE_FromToLocation pattern in which the properties are not anymore LR_DistanceExpression but either distanceAlong or reference to a boreholeEvent.</documentation>
		</annotation>
	</element>
	<complexType name="MeasureOrEventType">
		<choice>
			<element name="boreholeEvent">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="BhML:BoreholeEvent"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="distanceAlong" type="gml:MeasureType">
				<annotation>
					<documentation>Measure of the distance between the BoreholeEvent and the TrajectoryReferent attached to the BoreholeEventCollection.
The measure is done according to the BoreholeReferencingMethod to which the TrajectoryReferent is related.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="MeasureOrEventPropertyType">
		<sequence>
			<element ref="BhML:MeasureOrEvent"/>
		</sequence>
	</complexType>
	<element name="TrajectoryPosition" type="BhML:TrajectoryPositionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>adaptation of ISO 19148 LR_PositionExpression
see ISO 19148 Figure 14</documentation>
		</annotation>
	</element>
	<complexType name="TrajectoryPositionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="accuracyStatement" type="string"/>
					<element name="distanceAlong" type="gml:MeasureType">
						<annotation>
							<documentation>Adaptation of ISO 19148 LR_DistanceExpression distanceAlong
On purpose, in BhML, LR_DistanceExpression cannot localy redefine new LR_Referent. Thus, distanceAlong is collapsed within TrajectoryPosition (adaptation of 19148 LR_PositionExpressi</documentation>
						</annotation>
					</element>
					<element name="precisionStatement" type="string"/>
					<element name="boreholeReferencingMethod" type="BhML:BoreholeReferencingMethodPropertyType"/>
					<element name="linearElement" type="BhML:BoreholeTrajectoryPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TrajectoryPositionPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:TrajectoryPosition"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TrajectoryReferent" type="BhML:TrajectoryReferentType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>adaptation of LR_Referent</documentation>
		</annotation>
	</element>
	<complexType name="TrajectoryReferentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="feature" type="gml:FeaturePropertyType" minOccurs="0">
						<annotation>
							<documentation>ex : BoreholeCollar</documentation>
						</annotation>
					</element>
					<element name="position" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="location" type="BhML:TrajectoryPositionPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TrajectoryReferentPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:TrajectoryReferent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="UnitfOfMeasureTermType">
		<annotation>
			<documentation>Reference to a well known uom register entry (ex : QUDT, UCUM, ...)</documentation>
		</annotation>
		<union memberTypes="BhML:UnitfOfMeasureTermEnumerationType BhML:UnitfOfMeasureTermOtherType"/>
	</simpleType>
	<simpleType name="UnitfOfMeasureTermEnumerationType">
		<annotation>
			<documentation>Reference to a well known uom register entry (ex : QUDT, UCUM, ...)</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="UnitfOfMeasureTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
