schemas/BhML-Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by BRGM (BRGM) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:BhML="https://raw.githubusercontent.com/opengeospatial/boreholeie/master/schemas" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="https://raw.githubusercontent.com/opengeospatial/boreholeie/master/schemas" elementFormDefault="qualified" version="0.3.1">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<annotation>
		<documentation xml:lang="en">0.3 -> 0.3.1 ChangeLog: Definitions updated according to OGC 19-075.</documentation>
		<documentation xml:lang="en">0.2.1 -> 0.3 ChangeLog: Definitions added or completed. AtLocation:atLocation becomes atPosition. the 3 codeLists based attributes (accuracyStatement, precisionStatement, unit) are now typed gml:ReferenceType.</documentation>
	</annotation>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="AtLocation" type="BhML:AtLocationType" substitutionGroup="BhML:BoreholeEventLocation">
		<annotation>
			<documentation>AtLocation describes a single location along the borehole trajectory. The location can either by a direct distance measurement or a reference to another feature located at the same distance
Specifies a single position along the Borehole Trajectory.
Note : this class is an adaptation of ISO 19148 LE_AtLocation.</documentation>
		</annotation>
	</element>
	<complexType name="AtLocationType">
		<complexContent>
			<extension base="BhML:BoreholeEventLocationType">
				<sequence>
					<element name="atPosition" type="BhML:MeasureOrEventPropertyType">
						<annotation>
							<documentation>Specifies a single position along the Borehole Trajectory.
AtLocation describes a single location along the borehole trajectory. The location can either by a direct distance measurement or a reference to another feature located at the same location
Note : this class is an adaptation of ISO 19148 LE_AtLocation.
</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AtLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:AtLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Borehole" type="BhML:BoreholeType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A Borehole is the generalized term for any narrow shaft drilled in the ground.
			
			Note : INSPIRE definition slightly adapted
			</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="collection" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEventCollection"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholePropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:Borehole"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEvent" type="BhML:BoreholeEventType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A Class used to specify the position (location) of an element (locatedMember) along the borehole trajectory. The locatedMember can correspond to observations, construction elements, etc.

A BoreholeEvent corresponds to any valuable domain information observed along the trajectory of the bore. The concept of an Event is consistent with Observations and Measurements (ISO-19156) which models the act of observing and measuring as events, with methods, subjects and time. Communities using borehole rarely speak of observations along a borehole as “Event”, but the term “log” suggests a similar concept.
ISO-19148 defines its own concept of “Event”, as a description of something happening along a linear network. The common example is an incident on a road, at a certain distance from an intersection. The model applies to borehole, replacing an incident which some element of interest for a geologist, an engineer, etc. at some distance from the beginning of the bore. 

Note : this class is an adaptation of ISO 19148 LE_Event (see ISO 19148 Figure 44).</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeEventType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="locatedMember">
						<annotation>
							<documentation>Element located along the Borehole trajectory
Could be a Feature in the ISO191xx sense (OM_Observation, SF_Specimen, gwml2:constructionElement, ...) but not only. The type Any allows to use other community standards that don’t apply ISO 191xx series of standards.</documentation>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="gml:AbstractObject"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</complexType>
					</element>
					<element name="location">
						<annotation>
							<documentation>The linearly referenced location for this event.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEventLocation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEvent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEventCollection" type="BhML:BoreholeEventCollectionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>The BoreholeEventCollection is a collection of BoreholeEvents. Many collections can be managed within a single borehole. The grouping of BoreholeEvents in a collection is arbitrary and varies from one community to another.  Geologists tend to group lithologic observations in one collection - called “logs” - and samples in another one. The current model does not impose any grouping by (e.g. Borehole Log, Borehole Construction, etc.).
Note : this class is an adaptation of ISO 19148 LE_Feature.</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeEventCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="collectionLRS" type="BhML:BoreholeLRSPropertyType"/>
					<element name="collectionMember" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="BhML:BoreholeEvent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventCollectionPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEventCollection"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeEventLocation" type="BhML:BoreholeEventLocationType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Specifies the distance of an event along the borehole trajectory.

A BoreholeEventLocation describes the position of a BoreholeEvent along a borehole as the distance from an origin location specified in the BoreholeLRS (Borehole Linear Reference System).  The location can either be a single location (a point) or an interval, composed of a “from” and a “to” location, defining the boundaries of the interval. BhML considers the borehole trajectory going “from” an origin “to” some distance along the trajectory; therefore “from” is by definition closer to the origin, and “to” further.

Note : this class is an adaptation of ISO 19148 LE_EventLocation.
This class is abstract.
</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeEventLocationType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeEventLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeEventLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeLRS" type="BhML:BoreholeLRSType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Describes the 'Linear Referencing System' that frames all the locations of the BoreholeEvent(s) composing BoreholeEventCollections. This LRS consists of the linear element being measured, the method of measurement and the referent relative to which all locations are measured.
Note : this class is an adaptation of ISO 19148 LR_PositionExpression (see ISO 19148 Figure 14).</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeLRSType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="accuracyStatement" type="gml:ReferenceType">
						<annotation>
							<documentation>Statement regarding the accuracy of the BoreholeLRS.</documentation>
						</annotation>
					</element>
					<element name="precisionStatement" type="gml:ReferenceType">
						<annotation>
							<documentation>Statement regarding the precision of the BoreholeLRS.</documentation>
						</annotation>
					</element>
					<element name="boreholeReferencingMethod" type="BhML:BoreholeReferencingMethodPropertyType">
						<annotation>
							<documentation>Referencing method used to measure the location of each BoreholeEvent.</documentation>
						</annotation>
					</element>
					<element name="linearElement" type="BhML:BoreholeTrajectoryPropertyType" minOccurs="0"/>
					<element name="trajectoryReferent" type="BhML:DistanceExpressionPropertyType">
						<annotation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">BhML:location</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholeLRSPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:BoreholeLRS"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreholeReferencingMethod" type="BhML:BoreholeReferencingMethodType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Describes the procedure used to establish the measured distance along the borehole trajectory. Commonly used referencing methods are expected to be described in appropriate methods registers.
Note : this class is an adaptation of ISO 19148 LR_LinearReferencingMethod</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeReferencingMethodType">
		<sequence>
			<element name="name" type="string">
				<annotation>
					<documentation>The name of the referencing method.</documentation>
				</annotation>
			</element>
			<element name="unit" type="gml:ReferenceType">
				<annotation>
					<documentation>The unit of measure used by the referencing method for measures along the borehole trajectory.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BoreholeReferencingMethodPropertyType">
		<sequence>
			<element ref="BhML:BoreholeReferencingMethod"/>
		</sequence>
	</complexType>
	<element name="BoreholeTrajectory" type="BhML:BoreholeTrajectoryType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>The linear geometry or feature (the trajectory) representing the centerline of the drilled hole, along which the distance is measured.  The measurement method  is described by the Borehole Linear Referencing System.
It can express either the trajectory directly with a GM_Curve geometry or an existing feature having such shape. The latter reuse existing Borehole features, or any feature that displays a linear shape suitable to represent a borehole trajectory. For instance, alternative ways to describe the underground location of the trajectory, such as a collection of tropari measurements, or a spatio-temporal geometry describing the location and time of the drilling operation as the drill head progresses in the ground.
Because the BoreholeTrajectory may be a geometry or a feature containing a geometry it is modelled as a Union class.
Note : this class is an adaptation of ISO 19148 LR_LinearElement.</documentation>
		</annotation>
	</element>
	<complexType name="BoreholeTrajectoryType">
		<choice>
			<element name="feature" type="gml:FeaturePropertyType">
				<annotation>
					<documentation>A reference to an existing feature (distinct from the current Borehole) having a GM_Curve geometry.</documentation>
				</annotation>
			</element>
			<element name="curve" type="gml:CurvePropertyType">
				<annotation>
					<documentation>The geometry of the borehole trajectory.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="BoreholeTrajectoryPropertyType">
		<sequence>
			<element ref="BhML:BoreholeTrajectory"/>
		</sequence>
	</complexType>
	<element name="DistanceExpression" type="BhML:DistanceExpressionType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Expresses a distance  along the BoreholeTrajectory. Not all referents are necessarily located at the origin of a Borehole Trajectory. The referent is a real world feature (natural or artificial) designated as the reference point. This feature can be designated at the origin of the reference system (the zero), or located itself using another reference system (such as an external height datum like ‘sea level’) and therefore be different from zero.
Note : this class is adaptation of ISO 19148 LR_DistanceExpression</documentation>
		</annotation>
	</element>
	<complexType name="DistanceExpressionType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="distanceAlong" type="gml:MeasureType">
						<annotation>
							<documentation>A measure (usually a distance) of this distance expression (maps to ISO 19148 distanceAlong).</documentation>
						</annotation>
					</element>
					<element name="trajectoryReferent" type="BhML:TrajectoryReferentPropertyType">
						<annotation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">BhML:location</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="location" type="BhML:BoreholeLRSPropertyType">
						<annotation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">BhML:trajectoryReferent</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DistanceExpressionPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:DistanceExpression"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FromToLocation" type="BhML:FromToLocationType" substitutionGroup="BhML:BoreholeEventLocation">
		<annotation>
			<documentation>FromToLocation describes a continuous interval along the Borehole trajectory bounded by two positions (measure or events).

Note : this class is an adaptation of adaptation of ISO 19148 LE_FromToLocation</documentation>
		</annotation>
	</element>
	<complexType name="FromToLocationType">
		<complexContent>
			<extension base="BhML:BoreholeEventLocationType">
				<sequence>
					<element name="fromPosition" type="BhML:MeasureOrEventPropertyType">
						<annotation>
							<documentation>Specifies the starting linearly referenced location of the BoreholeEvent as a single point along the borehole trajectory. The location is defined according to the borehole referencing method defined by the borehole linear referencing system. By convention, this position is the closest to the origin.</documentation>
						</annotation>
					</element>
					<element name="toPosition" type="BhML:MeasureOrEventPropertyType">
						<annotation>
							<documentation>Specifies the ending linearly referenced location of the BoreholeEvent as a single point along the borehole trajectory. The location is defined according to the borehole referencing method defined by the borehole linear referencing system. By convention, this position is farthest from the origin.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FromToLocationPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:FromToLocation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MeasureOrEvent" type="BhML:MeasureOrEventType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A position can be expressed using an explicit distance or be referring to another located feature, hence expressing that a feature is semantically at the same location by design (and not by coincidence). There are several cases when this design is appropriate: For example, Geologic units (intervals down the borehole) delimited by geologic contacts, with multiple interpretations using the same contacts.
Because MeasureOrEvent may be a geometry or another located feature it is modelled as a Union class.
Note : this class is an adaptation of ISO 19148 LE_AtLocation and LE_FromToLocation pattern in which the properties are not LR_DistanceExpression but either distanceAlong or reference to a boreholeEvent.</documentation>
		</annotation>
	</element>
	<complexType name="MeasureOrEventType">
		<choice>
			<element name="boreholeEvent">
				<annotation>
					<documentation>The event used to express the position (ex: a lithostratigraphic unit interval pointing to a geological contact).</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="BhML:BoreholeEvent"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="distanceAlong" type="gml:MeasureType">
				<annotation>
					<documentation>Measure (usually a distance) done according to the BoreholeReferencingMethod.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="MeasureOrEventPropertyType">
		<sequence>
			<element ref="BhML:MeasureOrEvent"/>
		</sequence>
	</complexType>
	<simpleType name="PrecisionStatementTypeTermType">
		<annotation>
			<documentation>Reference to a well known register of precision description.</documentation>
		</annotation>
		<union memberTypes="BhML:PrecisionStatementTypeTermEnumerationType BhML:PrecisionStatementTypeTermOtherType"/>
	</simpleType>
	<simpleType name="PrecisionStatementTypeTermEnumerationType">
		<annotation>
			<documentation>Reference to a well known register of precision description.</documentation>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="PrecisionStatementTypeTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="TrajectoryReferent" type="BhML:TrajectoryReferentType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>The referent provides the link between the 3D world and the 1D view (the linear referencing system). Depending on the BoreholeReferencingMethod, it may be the “zero” of the positioning within the BoreholeLRS.
The referent can either be a well-known feature (e.g. BoreholeCollar) described with the corresponding semantics or a coordinate (point geometry).
Note : this class is an adaptation of LR_Referent</documentation>
		</annotation>
	</element>
	<complexType name="TrajectoryReferentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="feature" type="gml:FeaturePropertyType" minOccurs="0">
						<annotation>
							<documentation>A well known feature (ex : BoreholeCollar, WellHead) described with its semantics.</documentation>
						</annotation>
					</element>
					<element name="position" type="gml:PointPropertyType" minOccurs="0">
						<annotation>
							<documentation>The spatial position of this referent, given in some coordinate system.</documentation>
						</annotation>
					</element>
					<element name="location" type="BhML:DistanceExpressionPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">BhML:trajectoryReferent</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TrajectoryReferentPropertyType">
		<sequence minOccurs="0">
			<element ref="BhML:TrajectoryReferent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
